<ion-content [fullscreen]="true" padding  class="content">
  <ion-slides pager="true" class="group">
    <ion-slide>
      <div class="slide">
        <img class="slid-img" src="/assets/img/LOGO-MA.svg" alt="image" />
        
        <h2 class="explore-maps">Explore maps</h2>
        <p class="your-own-emotion-rep">with a different perspectives</p>
      </div>
    </ion-slide>

    <ion-slide>
      
      <img src="/assets/img/LOGO-PI.svg" alt="image" />
      <h2 class="explore-maps">Create & share</h2>
      <p class="your-own-emotion-rep">your own emotion reports with pictures</p>
     
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/LOGO-MO.svg" alt="image" />
      <h2 class="explore-maps">View various projects</h2>
      <p class="your-own-emotion-rep">and see how others feel</p>
    </ion-slide>

  </ion-slides>
  <ion-button color="type-something"  fill="clear" size="full"> SELECT A PROJECT
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-button> 
</ion-content>